.skills{
     display:flex;
    flex-direction: column;
    justify-content: center;
  
   height:620px;
  
   
  
}
.skills h1{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 100px;
    
}


.about-skills{
    display:flex;
    flex-direction: column;
   
    justify-content: center;
  margin: 0px 140px;
    gap:30px;
   
    
    
}
.about-skill{
    display:flex;
    gap:50px;
    align-items:center;
    transition:0.3s;
}
.about-skill p{
    min-width:150px;
    font-size:25px;
    font-weight:500;

}
.about-skill hr{
    outline:none;
    border:none;
    width:50%;
    height:8px;
    border-radius:50px;
    background: linear-gradient(264deg,pink,purple);
}
.about-skill:hover{
    transform:scale(1.05);
    transition:0.3s
}

@media(max-width:768px){
    

.skills{
    width:150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
   
}
.skills h1{
    text-align: center;
    font-size: 50px;
    font-weight: 550;
}

.hr-skill{
    width:100%;
}



.about-skill{  
 
 width:680px;

}

.about-skill p{
    font-size:20px ;
}
.hr-skill{
    height:6px;
    width: 100%;
   
}



}
@media(max-width:450px){
    .skills{
        width:340%;
    }
    .about-skills{
    display:flex;
    flex-direction: column;
   
    justify-content: center;
 
   align-items: center;
   
    
    
}

}