

.app.light {
  background-color: #ffffff;
  color: #000000;
}

.app.dark {
 
  background-color: #121212;
  color: #ffffff;
} 
@media(max-width:450px){
  .app.dark{
   
    background-color: #121212;
  color: #ffffff;
  }
}

